<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive comminity
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor adipisci quisquam illo ex! Aperiam in, placeat nostrum accusantium repellat eius iste vero adipisci asperiores voluptate ullam, laudantium, officia, officiis provident?
    </p>
</div>